---
import Layout from "../../layouts/Layout.astro";
import { queryStringToObject } from "../../helpers/queryHelper";
import { getProduct } from "../../services/productService";

let product: any = {};
const queryObject = queryStringToObject(Astro.url);

if (queryObject.slug) {
  product = await getProduct(queryObject.slug);
}
---

<Layout title="Explore your aesthetics">
  <main>
    <div class="max-w-screen-xl flex flex-wrap justify-between mx-auto py-4">
      <div class="w-1/2">
        <img class="product-detail-image" src={product?.images?.at(0)?.src} />
      </div>
      <div class="w-1/2">
        <h3 class="font-bold italic text-4xl my-5 text-transform: uppercase">
          {product?.name}
        </h3>
        <p class="my-5" set:html={product?.description} />
      </div>
    </div>
  </main>
</Layout>
<style>
  .product-detail-image {
    height: 35rem;
    object-fit: contain;
  }
</style>
