---

---

<div
  class="main-banner mt-5 max-w-screen-xl rounded-3xl flex flex-wrap items-center justify-between mx-auto p-4 bg-[url('/images/banner.png')] bg-cover bg-center"
>
  <div class="m-auto text-center">
    <h2 class="text-4xl font-extrabold italic">$20 OFF $100 PLUS, <br/> GET FREE NEXT DAY DELIVERY</h2>
    <p class="font-bold">With Code 20100</p>
    <button class="bg-black text-white px-4 py-2 rounded-lg mt-4 font-bold italic">Explore</button>
  </div>
</div>

<style>
  .main-banner {
    height: 320px;
  }
</style>
